# Database and Environment Settings
DATABASE_URL=postgresql://your_user:your_password@db:5432/
DATABASE_NAME=your_db
ENV=dev

# Service URLS
BACKEND_BASE_URL=http://backend:5000
ML_SERVICE_URL=http://ml_services:8000

# Security Configurations
SECRET_KEY=generate_a_secure_random_key_here_for_production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Internal ML Service API Key (harus sama dengan ML_API_KEY di ml_services)
ML_API_KEY=generate_a_secure_random_key_here_for_ml_service