# Environment
ENVIRONMENT=development
PORT=8000

# Model Path
FORECASTING_MODEL_PATH=artifacts/model_forecasting.h5
CLUSTERING_MODEL_PATH=artifacts/model_clustering.h5

# OpenRouter LLM Config
OPEN_ROUTER_BASE_URL=https://openrouter.ai/api/v1/chat/completions
OPEN_ROUTER_API_KEY=your_openrouter_api_key
LLM_MODEL=openrouter/free

# Backend Service Config
BACKEND_BASE_URL=http://backend:5000
BACKEND_USER_EMAIL=user@example.com
BACKEND_USER_PASSWORD=string