# Environment
ENVIRONMENT=development
PORT=8000

# OpenRouter LLM Config
OPEN_ROUTER_BASE_URL=https://openrouter.ai/api/v1/chat/completions
OPEN_ROUTER_API_KEY=your_openrouter_api_key
LLM_MODEL=nvidia/nemotron-3-super-120b-a12b:free

# Backend Service Config
BACKEND_BASE_URL=http://backend:5000
ML_API_KEY=your_ml_api_key_here