# Environment
ENVIRONMENT=development
PORT=8000

# Model Path
FORECASTING_MODEL_PATH=models_bin/model_forecasting.h5
CLUSTERING_MODEL_PATH=models_bin/model_clustering.h5

# Ollama LLM Config (Google Gemma)
OLLAMA_BASE_URL=http://localhost:11434/api/generate
LLM_MODEL=gemma:2b
